<configuration>
  <appSettings>
    <add key="PortableMode" value="false" />
    <add key="DatabasePath" value="C:\CallBell\DB\callbell.db" />
    <add key="TriggerDirectory" value="C:\CallBell\trigger" />
    <add key="ProfileDirectory" value="C:\CallBell\Profiles" />
    <add key="MonitorBoardTitle" value="CallBell Monitor" />
    <add key="MonitorRefreshSeconds" value="3" />
  </appSettings>
</configuration>
